name: Test Suite
on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

# Explicitly grant the `secrets.GITHUB_TOKEN` no permissions.
permissions: {}

jobs:
  linter:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
        with:
          python-version: "3.10"
      - uses: pre-commit/action@2c7b3805fd2a0fd8c1884dcaebf91fc102a13ecd # v3.0.1
        with:
          extra_args: --all-files --show-diff-on-failure

  unit-and-integration-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      # https://stackoverflow.com/a/64592785
      - name: neo4j 4 instance setup
        run: |
          docker run --detach \
            --name neo4j-4 \
            --env NEO4J_AUTH=none \
            --publish 7474:7474 \
            --publish 7473:7473 \
            --publish 7687:7687 \
            neo4j:4.4-community
      - uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
        with:
          python-version: "3.10"
      - name: Install uv
        uses: astral-sh/setup-uv@f0ec1fc3b38f5e7cd731bb6ce540c5af426746bb # v6.1.0
        with:
          enable-cache: true
          cache-dependency-glob: "uv.lock"
      - name: Install the project
        run: uv sync --frozen --all-extras --dev
      - name: Wait for neo4j 4 to be ready
        timeout-minutes: 1
        run: (docker logs -f neo4j-4 & ) | grep -q Started
      - name: run test_unit
        run: make test_unit
      - name: run test_integration
        run: make test_integration

  unit-and-integration-tests-neo4j5:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      # https://stackoverflow.com/a/64592785
      - name: neo4j 5 setup
        run: |
          docker run --detach \
            --name neo4j-5 \
            --env NEO4J_AUTH=none \
            --publish 7474:7474 \
            --publish 7473:7473 \
            --publish 7687:7687 \
            neo4j:5
      - uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
        with:
          python-version: "3.10"
      - name: Install uv
        uses: astral-sh/setup-uv@f0ec1fc3b38f5e7cd731bb6ce540c5af426746bb # v6.1.0
        with:
          enable-cache: true
          cache-dependency-glob: "uv.lock"
      - name: Install the project
        run: uv sync --frozen --all-extras --dev
      - name: Wait for neo4j 5 to be ready
        timeout-minutes: 1
        run: (docker logs -f neo4j-5 & ) | grep -q Started
      - name: run test_unit
        run:  make test_unit
      - name: run test_integration
        run: make test_integration

  # Test that the docker image builds successfully on each commit
  build-docker-image:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@902fa8ec7d6ecbf8d84d538b9b233a880e428804 # v5.7.0
        with:
          images: ghcr.io/${{ github.repository }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@b5ca514318bd6ebac0fb2aedd5d36ec1b5c232a2 # v3.10.0

      - name: Build
        uses: docker/build-push-action@1dc73863535b631f98b2378be8619f83b136f4a0 # v6.17.0
        with:
          file: Dockerfile
          push: false # only build the image, don't push it anywhere
          context: .
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
